<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <!-- 
       v-for指今：
        1.用于展示列表数据
        2.语法： v-for=" (item, index) in xxx" :key="yyy"
        3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）
     -->
    <div id="root"> 
        <h2>人员列表</h2>
       <ul>
           <!-- 遍历数组，第一个参数是值，第二个参数是索引 -->
           <li v-for="(item, index) in persons" :key="index">{{item}}</li>
           <!-- 测试参数是啥 -->
           <!-- <li v-for="(a, b) in persons">{{a}}--{{b}}</li> -->
       </ul>

       <h2>汽车信息</h2>
       <ul>
           <!-- 遍历对象，第一个参数是值，第二个参数是key -->
           <li v-for="(value, key) in car" :key="key">{{key}}---{{value}}</li>
           <!-- 测试参数是啥 -->
           <!-- <li v-for="(a, b) in car" >{{a}}---{{b}}</li> -->
       </ul>

       <h2>遍历字符串</h2>
       <ul>
           <!-- 遍历字符串，第一个参数是值，第二个参数是字符索引 -->
           <li v-for="(char, index) in str" :key="index">{{char}}---{{index}}</li>
           <!-- 测试参数 -->
           <!-- <li v-for="(a, b) in str" >{{a}}---{{b}}</li> -->
       </ul>

       <h2>遍历指定次数</h2>
       <ul>
           <!-- 遍历字符串，第一个参数是值，第二个参数是字符索引 -->
           <li v-for="(number, index) in 5" :key="index">{{number}}---{{index}}</li>
           <!-- 测试参数 -->
           <!-- <li v-for="(a, b) in 5" >{{a}}---{{b}}</li> -->
       </ul>
    </div>
    

    <script>
        Vue.config.productionTip = false; // 关掉生产提示

        const vm = new Vue({
            el:"#root",
            data:{
                 persons:[
                    {name:'张三',age:18,id:1},
                    {name:'李四',age:19,id:2},
                    {name:'王五',age:20,id:3},
                 ],
                 car:{
                     name:'奥迪',
                     price:'80万',
                     color:'黑色',
                 },
                 str:'hello'

            },
            
        });

    </script>
</body>
</html>